* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #FFFFFF;
    background-color: #1C1C1C; 
}

header {
    background-color: #1C1C1C; 
    color: #00FF00; 
    text-align: center;
    padding: 1em;
}

#info-magasin {
    text-align: center;
    margin: 2em;
}

#info-magasin p {
    color: #00FF00; 
}

#voitures {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 2em;
}

.car-card {
    background-color: #FFFFFF; 
    color: #1C1C1C;
    border: 1px solid #00FF00; 
    padding: 1em;
    width: auto;
    text-align: center;
}

.car-card img {
    width: 150px;
    height: 100px;
    margin-bottom: 1em;
}

#videos {
    text-align: center;
    padding: 2em;
}

#videos video {
    margin: 10px;
}
footer {
    background-color: #1C1C1C; 
    color: #00FF00; 
    text-align: center;
    padding: 1em;
}