/* Réinitialisation de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corps de la page */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    /* Gris clair */
    color: #333;
    padding: 20px;
    height: 100vh;
    width: 100%;
}

/* Container principal */
.container {
    width: 80%;
    height: auto;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px #39b54a;
    user-select: none;
}

/* En-tête de la page */
header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 2em;
    color: #39b54a;
    /* Couleur bleu comme Avito */
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Section des détails de la voiture */
.car-details {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    height: 100%;
}

/* Image de la voiture */
.car-image {
    width: 80%;
}

.car-image img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.car-infos{
    width: 20%;
    height: 100%;
}

.car-infos h2{
    margin-bottom: 2em;
    text-align: center;
}

.car-infos p{
    margin-bottom: 1em;
}

.color{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

/* Informations sur la voiture */


.car-infos strong {
    color: #39b54a;
    /* Bleu pour les labels */
}

.btn{
    text-align: center;
    width: 100%;
    margin-top: 3em;
}
.btn a{
    text-decoration: none;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    border: 2px solid #333;
    padding: 10px 20px;
    border-radius: 20px;
    transition: .6s ease;
}

.btn a:hover{
    background: #333;
    color: #fff;
    border: 2px solid #fff;
}



@media screen and (max-width: 768px) {
    /* Container principal */
    .container {
        width: 95%;
        padding: 20px;
    }

    /* Section des détails de la voiture */
    .car-details {
        flex-direction: column;
        align-items: center;
    }

    /* Image de la voiture */
    .car-image {
        width: 100%;
    }

    .car-infos {
        width: 100%;
        text-align: center;
    }

    .color {
        justify-content: center;
    }

    /* Bouton */
    .btn {
        margin-top: 2em;
    }

    .btn a {
        padding: 10px;
        font-size: 0.9em;
    }
}

@media screen and (max-width: 480px) {
    header h1 {
        font-size: 1.5em;
    }

    .btn a {
        font-size: 0.8em;
        padding: 8px 15px;
    }
}

